<div class="w-[208px] h-[280px] bg-white rounded-[14px] shadow flex flex-col relative">
    <div class="w-[208px] h-[208px] overflow-hidden img-scale rounded-tl-[14px] z-10 rounded-tr-[14px] z-0">
        <img
            class="w-full h-full object-cover img-bg-artist transition-transform duration-200 ease-in-out"
            src="https://shorturl.at/btuR7"
        />
    </div>
    <div class="flex-grow relative flex items-center justify-center text-xl z-10">
        <div class="absolute w-[43px] bg-white p-[3px] rounded-full bottom-[50px] left-0 right-0 mx-auto">
            <img class="full h-full object-cover rounded-full" src="https://shorturl.at/rGRS5"/>
        </div>
        <div class="font-neo-heavy">BTS</div>
    </div>
</div>